# Log file
*.log

# Mac
.DS_Store

# IDE 和编辑器 #
######################
.idea/
/go_build_*
out/
.vscode/
.vscode/settings.json
*.sublime*
__debug_bin
.project

# 临时文件 #
######################
tmp/
.tmp/
*.tmp